body {
    font-family: Arial;
    background: #f4f6f9;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

input, button {
    padding: 8px;
    margin: 5px;
}

button {
    background: #2c7be5;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #1a5fc4;
}

.bold {
    font-weight: bold;
}

.grafico-container {
    height: 400px;
}

.grafico-scroll {
    overflow-x: auto;
}

.grafico-inner {
    height: 55vh;
}

/* Apenas no celular */
@media (max-width: 768px) {
    .grafico-inner {
        min-width: 1200px;  /* deixa panorâmico */
        height: 40vh;       /* maior altura */
    }
}

.grafico-scroll {
    overflow-x: auto;
    overflow-y: hidden;
}

/* deixa a barra mais visível */
.grafico-scroll::-webkit-scrollbar {
    height: 10px;
}

.grafico-scroll::-webkit-scrollbar-thumb {
    background: #3f51b5;
    border-radius: 5px;
}

.grafico-scroll::-webkit-scrollbar-track {
    background: #e0e0e0;
}

.grafico-inner {
    min-width: 1200px; /* força largura maior */
    height: 65vh;
}
